*.weights
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build
VITE_API_URL=http://localhost:5000
node_modules/
.DS_Store
.env
.vscode/
.vscode-test/
.idea/
*.log
*.swp
*.swo
*.bak
*.tmp
*.orig
*.cache
*.pid   
